<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>The Buddy Company</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- <link href="" rel="icon">
    <link href="" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/home/home.css" rel="stylesheet" type="text/css">

</head>

<body>
    <header>
        <nav class="my-auto navbar navbar-expand-lg navbar-light" style="background-color: none; gap: 0 50%;">
            <a class="navbar-brand mr-4" href="#">
                <img src="/images/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
                The Buddy Company
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
        </nav>
    </header>
    
    <section class="home-hero parallax--bg">
        <div class="container">
            <h1 class="title parallax--box">Making things looks great <span>for companies who make great stuff</span>
            </h1>
            <a href="" class="button button-accent">See Our Work</a>
        </div>
    </section>
    
    <div class="container">
        <section class="home-about">
    
            <div class="home-about-textbox parallax--box">
                <h1>Who we are</h1>
                <p>Sit by the fire drink water out of the faucet hide head under blanket so no one can see cat is love, cat is life. Knock dish off table eating always hungry so favor packaging over toy. </p>
                <p><strong>Rub face on owner.</strong> Peer out window, chatter at birds, lure them to mouth. Chase ball of string eat a plant, kill a hand, i am the best have secret plans.</p>
            </div>
    
        </section>
    </div>
    
    
    <section class="portfolio">
        <h1>Some of our work</h1>
    
        <!-- portfolio item 01 -->
        <figure class="port-item">
            <img src="img/portfolio-01.jpg" alt="portfolio item">
            <figcaption class="port-desc">
                <p>Project title</p>
                <a href="" class="button button-accent button-small">Project details</a>
            </figcaption>
        </figure>
    
        <!-- portfolio item 02 -->
        <figure class="port-item">
            <img src="img/portfolio-02.jpg" alt="portfolio item">
            <figcaption class="port-desc">
                <p>Project title</p>
                <a href="" class="button button-accent button-small">Project details</a>
            </figcaption>
        </figure>
    
        <!-- portfolio item 03 -->
        <figure class="port-item">
            <img src="img/portfolio-03.jpg" alt="portfolio item">
            <figcaption class="port-desc">
                <p>Project title</p>
                <a href="" class="button button-accent button-small">Project details</a>
            </figcaption>
        </figure>
    
        <!-- portfolio item 04 -->
        <figure class="port-item">
            <img src="img/portfolio-04.jpg" alt="portfolio item">
            <figcaption class="port-desc">
                <p>Project title</p>
                <a href="" class="button button-accent button-small">Project details</a>
            </figcaption>
        </figure>
    
        <!-- portfolio item 05 -->
        <figure class="port-item">
            <img src="img/portfolio-05.jpg" alt="portfolio item">
            <figcaption class="port-desc">
                <p>Project title</p>
                <a href="" class="button button-accent button-small">Project details</a>
            </figcaption>
        </figure>
    
        <!-- portfolio item 06 -->
        <figure class="port-item">
            <img src="img/portfolio-06.jpg" alt="portfolio item">
            <figcaption class="port-desc">
                <p>Project title</p>
                <a href="" class="button button-accent button-small">Project details</a>
            </figcaption>
        </figure>
    
    </section>
    
    <section class="cta">
        <div class="container">
            <h1 class="title title-cta">Like what you see?
                 <span>Then what are you waiting for?</span>
            </h1>
            <a href="" class="button button-dark">Hire us</a>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="col-3">
                <p>Shoreditch bespoke leggings, tote bag williamsburg woke retro readymade scenester brunch art party farm-to-table pug. Wayfarers lyft prism, edison bulb distillery pok pok narwhal pinterest poke.</p>
            </div>
    
            <div class="col-1">
                <ul class="unstyled-list">
                    <li><strong>Shoreditch</strong></li>
                    <li>Shoreditch</li>
                    <li>Woke retro </li>
                    <li>Readymade </li>
                    <li>Scenester </li>
                </ul>
            </div>
    
            <div class="col-1">
                <ul class="unstyled-list">
                    <li><strong>Shoreditch</strong></li>
                    <li>Shoreditch</li>
                    <li>Woke retro </li>
                    <li>Readymade </li>
                    <li>Scenester </li>
                </ul>
            </div>
    
            <div class="col-1">
                <ul class="unstyled-list">
                    <li><strong>Shoreditch</strong></li>
                    <li>Shoreditch</li>
                    <li>Woke retro </li>
                    <li>Readymade </li>
                    <li>Scenester </li>
                </ul>
            </div>
        </div>
    </footer>
    
    
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>

    <div class="contain-events col-bl">
        <section class="section">
            <div class="row row-cols-1 row-cols-md-3 g-4 mx-auto">
                <% files.forEach(function(myFile) { %>
                    <div class="col">
                        <div class="card" style="height: 70vh">
                            <img 
                                class="card-img-top img-fluid" style="height: 40vh"
                                src="data:myFile/<%=myFile.eventBgPhoto.contentType%>;base64,
                                <%=myFile.eventBgPhoto.data.toString('base64')%>"
                            />
                            <div class="card-body">
                                <h5 class="card-title"><%= myFile.eventName %></h5>
                                <p class="card-text"><%= myFile.eventAbout %></p>
                            </div>
                            <div class="card-footer mx-auto">
                                <form class="g-3 mb-3 needs-validation" action="/view-event" method="post" novalidate>
                                    <input type="text" name="eventID" placeholder="Enter Buddy ID" class="form-control d-none" id="eventID" value="<%= myFile.eventID %>" required>
                                    <button class="btn btn-primary w-100" type="submit">View Event</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }) %>               
            </div>  
        </section>
    </div>


    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"
        integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"
        integrity="sha512-tHvUcUQYi35zApvAa5TNR3fNhBQkVtkmWKfacnpxmix4/VTGz1lGjIVyLMp7gLgAvg+aKJjnVKokXJNS5GZ+/g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <script src="/homePage/js/jquery.min.js"></script>
    <script src="/homePage/js/popper.js"></script>
    <script src="/homePage/js/bootstrap.min.js"></script>
    <script src="/home/home.js"></script>
</body>

</html>